streamlit
pandas
plotly
openai
requests
pdfplumber
openpyxl
python-dotenv
anthropic
langchain
langchain-community
langchain-openai
langchain-pinecone
pinecone
tavily-python
pypdf
groq
langchain-huggingface
sentence-transformers
pytesseract
pdf2image
pillow
